/* Base Colors */
:root {
    --bg: #121212;
    --dark: #181818;
    --text: #fff;
    --gray: #b3b3b3;
    --accent: #1db954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
}
.top-nav {
    position: sticky;
    top: 0;
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    z-index: 10;
}

/* Left section */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
}

.nav-left .icon {
    font-size: 18px;
    cursor: pointer;
}

.nav-left input {
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #242424;
    color: white;
}

/* Right section */
.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Download {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
}
.Download:hover {
    color: white;
}
.Install{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
}
.Install:hover {
    color: white;
}

.signup {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
}

.signup:hover {
    color: white;
}

.login {
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Layout */
.app {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    background: var(--dark);
    padding: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.sidebar nav a {
    display: block;
    padding: 10px;
    color: var(--gray);
    text-decoration: none;
}

.sidebar nav a.active,
.sidebar nav a:hover {
    color: var(--text);
}
.playlist-btn h2{
    color: white;
    font-size: 35px;
}
p{
    color: white;
    font-size: 16px;
}
.rightbtn{
    top: 25px;
    margin-left:60%;
}
.base a {
    color: rbg(18,18,18);
}
/* Playlist Button */
.playlist-btn button {
    width: 100%;
    background: var(--accent);
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    color: var(--bg);
    margin-top: 30px;
}

/* Top Bar */
.top-bar {
    padding: 15px 0;
}

.top-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #282828;
    color: var(--text);
}

/* Section Titles */
h2 {
    margin: 20px 0;
    font-size: 20px;
}

/* Grids */
.grid {
    display: grid;
    gap: 15px;
}

.trending {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.artists {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

/* Cards */
.card {
    background: var(--dark);
    border-radius: 10px;
    overflow:hidden;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 200px;
}

.card img {
    width: 70%;
    border-radius: 10px;
}

.card .info {
    margin-top: 10px;
}

.card .title {
    font-weight: bold;
}

.card.circle img {
    border-radius: 30%;
}

.card.circle p {
    margin-top: 8px;
    font-size: 14px;
    color: var(--gray);
}
.card :hover
{
    color: gray;
}
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #af2896, #509bf5);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-left p {
    font-size: 14px;
}

.footer-left span {
    font-size: 13px;
    opacity: 0.9;
}

.footer-right button {
    background: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.footer-right button:hover {
    transform: scale(1.05);
}
