/* Base Colors */
:root {
    --bg: #121212;
    --dark: #181818;
    --text: #fff;
    --gray: #b3b3b3;
    --accent: #1db954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
   
}
.icon{
    width: 48px;
    height: 48px;
    background: transparent;
    mix-blend-mode: multiply;
    border-radius: 50px;
}
.top-nav {
    position: sticky;
    top: 0;
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    z-index: 10;
}

/* Left section */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
}

.nav-left .icon {
    font-size: 18px;
    cursor: pointer;
}

.nav-left input {
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #242424;
    color: white;
}


/* Right section */
.nav-right {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.Download {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
}
.Download:hover {
    color: white;
}
.Install{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
}
.Install:hover {
    color: white;
}

.signup {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
}

.signup:hover {
    color: white;
}

.login {
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Layout */
.app {
    display: flex;
    height: calc(100vh - 120px);
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: var(--dark);
    padding: 15px;
    position:sticky;
    top: 60px;
}
.lan-btn {
   margin-top: 20px;
   background: none;
   box-direction: 1px solid #b3b3b3;
   color: #fff;
   padding: 6px 10px;
   border-radius: 20px;
   cursor: pointer;
   font-size: 13px;
   width: 100px;
   display: flex;
   gap: 8px;
}
.lan-btn:hover {
    border-color: white;
}

.box {
    background: #242424;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}
.sidebar nav a {
    display: block;
    padding: 10px;
    color: var(--gray);
    text-decoration: none;
    font-size: 20px;
}

.sidebar nav a.active,
.sidebar nav a:hover {
    color: var(--text);
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #b3b3b3;
    font-size: 14px;
    margin-bottom: 15px;
   }
   nav button{
    border-radius: 20px;
    width: 65px;
    height: 25px;
    background: none;
    color: whitesmoke;
    font-size: 12px;
   }
/* Playlist Button */
.box p{
    font-size: 12px;
}
.playlist-btn button {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    color: var(--bg);
    margin-top: 10px;
}

.footer-link{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 12px;
} 
.footer-link a{
 color: #b3b3b3;
 text-decoration: underline;
}
 .footer-link a:hover{
    text-decoration: underline;
 }  

/* Top Bar */
.top-bar {
    padding: 15px 0;
}

.top-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #282828;
    color: var(--text);
}

/* Section Titles */
h2 {
    margin: 20px 0;
    font-size: 20px;
}
   


main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.artists {
     display: flex;
    gap: 30px;
    margin-top: 15px;
}
.artist img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* Cards */
.trending{
    margin-bottom: 40px;
}



.trending-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.trending-header h2 {
    font-size: 26px;
    font-weight: bold;
}

.trending-header a {
    color: #b3b3b3;
    font-size: 14px;
    text-decoration: none;
}

.trending-header a:hover {
    color: white;
    text-decoration: underline;
}

.trending-cards{
    display: flex;
    gap: 22px;
}

.card{
    width: 180px;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 12px;
    object-fit: cover;
}


.card:hover img {
    filter: brightness(0.7);
}

.card h4 {
    font-size: 15px;
    margin-bottom: 6px;
}

.card p {
    font-size: 13px;
    color: #b3b3b3;
    line-height: 1.4;
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #af2896, #509bf5);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.footer-left p {
    font-size: 14px;
}

.footer-left span {
    font-size: 13px;
    opacity: 0.9;
}

.footer-right button {
    background: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.footer-right button:hover {
    transform: scale(1.05);
}
